<!DOCTYPE html>
  <nav class="navbar navbar-expand-lg navbar-color-fondo">
    <div class="container">
      <a class="navbar-brand" href="galeria">
        <img src="https://cdn.discordapp.com/attachments/1133974128169320500/1167625535766155365/Logo-Explora-Music.png?ex=654ecf05&is=653c5a05&hm=7d381efdd6eb36518be0005957492f6b6fbdba579b4dd040cf41fbc1a5e9cefc&" alt="Logo" width="80" height="80">
      </a>
      <div class="collapse navbar-collapse navbar" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLinkActive="active" aria-current="page" href="galeria">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLinkActive="active" aria-current="page" [routerLink]="['/contacto']">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLinkActive="active" aria-current="page" [routerLink]="['/acercade']">Acerca De</a>
          </li>
        </ul>
        <form (ngSubmit)="buscar()" #searchForm="ngForm">
          <input type="text" name="keyword" [(ngModel)]="keyword" placeholder="Buscar...">
          <button type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>