<h4 class="list-group-item-heading">Administrar Usuarios</h4>
    <div class="list-group-item" role="group" aria-label="Usuarios">
        <a [routerLink]="['/admin/usuarios']" class="btn btn-default btn-raised">Todos los Usuarios</a>
        <a [routerLink]="['/admin/usuarios/crear']" class="btn btn-primary btn-raised">Nuevo Usuario</a>
    </div>
<h4 class="list-group-item-heading">Administrar Imagenes</h4>
    <div class="list-group-item" role="group" aria-label="Imagenes">    
        <a [routerLink]="['/admin/imagenes']" class="btn btn-default btn-raised">Todas las Imagenes</a>
        <a [routerLink]="['/admin/imagenes/crear']" class="btn btn-primary btn-raised">Nueva Imagen</a>
    </div>