<div class="container">
    <h2>Editar Imagen</h2>
    <form [formGroup]="editarForm" (ngSubmit)="guardarCambios()">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-control">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" formControlName="descripcion" class="form-control">
        </div>
        <div class="form-group">
            <label for="genero">Género:</label>
            <input type="text" id="genero" formControlName="genero" class="form-control">
        </div>
        <div class="form-group">
            <label for="autor">Autor:</label>
            <input type="text" id="autor" formControlName="autor" class="form-control">
        </div>
        <div class="form-group">
            <label for="enlaceMiniatura">URL Miniatura:</label>
            <input type="text" id="enlaceMiniatura" formControlName="enlace_miniatura" class="form-control">
        </div>
        <div class="form-group">
            <label for="enlaceGrande">URL Imagen Grande:</label>
            <input type="text" id="enlaceGrande" formControlName="enlace_grande" class="form-control">
        </div>
        <button type="button" class="btn btn-default" (click)="cancelarEdicion()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        
    </form>
</div>

  