<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros - Explora Music</title>
    <link rel="stylesheet" type="text/css" href="acercade.component.css">
</head>
<body>
    <header>
        <h1>Explora Music</h1>
    </header>
    <main>
        <section class="about-us">
            <h2>Acerca de Nosotros</h2>
            <p>Somos <strong>Explora Music</strong>, una empresa dedicada a ayudarte en tu búsqueda de música nueva a diario. Nuestra misión es proporcionarte una experiencia musical excepcional al descubrir nuevas canciones y artistas que se adapten a tus gustos y preferencias.</p>
            <p>Nuestro equipo de expertos en música trabaja incansablemente para brindarte recomendaciones personalizadas y curadas, para que puedas disfrutar de la música que amas y explorar nuevos horizontes musicales.</p>
        </section>
    </main>
</body>
</html>
